@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0ac876;
}

/* =========================
           Nav bar
  ======================= */

nav {
    background: white;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav a {
    padding-left: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
}

.logo {
    width: 50px;
}

/* =========================
           Accueil
  ======================= */

.navigator {
    padding-top: 40px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section:nth-child(1){
    color: #fff;
}

section:nth-child(2){
    color: #0ac876;
    background-color: #fff;
}

section:nth-child(3){
    color: #fff;
}

section:nth-child(4){
    color: #0ac876;
    background-color: #fff;
}

section .container{
    margin: 100px;
}

section h1{
    font-size: 60px;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

section .cards .text-card{
    background: #0ac876;
    color: #fff;
    padding: 20px;
    width: 100%;
}

section .cards .text-card img {
    width: 100%;
    border-radius: 15px;
}


/* =========================
           Button
  ======================= */

button {
    background: #069f5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fff;
}


/* =========================
           Maps
  ======================= */

#map {
    height: calc(100vh - 50px);
    width: 100vw;
}

.itinerary-box {
    background: white;
    margin : 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    z-index: 100;
    width: 320px;
}

.ol-zoom {
    right: 0.5em!important;
    transform: translate(-50%)!important;
    left: inherit!important;
}

/* =========================
           Form
  ======================= */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.material-symbols-outlined { user-select: none; }

.button-box {
    background: #0ac876;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    background: #f5f5f5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
}

.box-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.close { display: none; }

#addDestination { display: none; }



/* Bootstrap alerts */
/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}





/*Tailwind*/
.flex { display: flex }
.flex-col { flex-direction: column }
.gap-4 { gap: 10px }

