{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
<section>
    <div class="parallax">
        <h1 class="object navigator-title" data-value="4">NaviGator</h1>
        <div class="cards">
            <img src="{{ assistantUrl("../ressources/img/logo_void.png")}}" class="navigator object" data-value="3" alt="logo">
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Présentation</h2>
        <div class="cards">
            <div class="text-card">
                <h2>NaviGator ?</h2>
                <p>NaviGator est un site web qui permet de calculer le plus court chemin entre deux communes.</p>
            </div>
            <div class="text-card">
                <h2>Fonctionnement</h2>
                <p>Il suffit de rentrer deux communes dans le formulaire de calcul et de cliquer sur le bouton "Calculer".</p>
            </div>
            <div class="text-card">
                <h2>Créateurs</h2>
                <p>Nous sommes des étudiants en informatique à l'IUT de Montpellier-Sète.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Tester NaviGator</h2>
        <div style="display: flex; flex-direction: column; align-items: center">
            <h3>Images de comment ça marche etc...</h3>
            <button><a href="{{ generateurUrl("map") }}">N'attendez plus !</a></button>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Les créateurs</h2>
        <div class="cards">
            <div class="text-card">
                <h2>Thomas</h2>
                <p>Gros bg</p>
            </div>
            <div class="text-card">
                <h2>Maxence</h2>
                <p>Gros bg</p>
            </div>
            <div class="text-card">
                <h2>Loris</h2>
                <p>Gestionaire de la Base de Données.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}