{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
<section>
    <div class="parallax">
        <h1 class="object navigator-title" data-value="4">NaviGator</h1>
        <div class="cards">
            <img src="{{ assistantUrl("../ressources/img/logo_void.png")}}" class="navigator object" data-value="3" alt="logo">
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Présentation</h2>
        <div class="cards">
            <div class="text-card">
                <h2>NaviGator ?</h2>
                <p>NaviGator est un site web qui permet de calculer le plus court chemin entre plusieurs communes.</p>
            </div>
            <div class="text-card">
                <h2>Fonctionnement</h2>
                <p>Il suffit de rentrer le nom de communes dans le formulaire de calcul et de cliquer sur le bouton "Calculer".</p>
            </div>
            <div class="text-card">
                <h2>Créateurs</h2>
                <p>Nous sommes des étudiants en deuxième année d'informatique à l'IUT de Montpellier-Sète.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2 style="padding-bottom: 40px">Testez NaviGator</h2>
        <div style="display: flex; flex-direction: column; align-items: center">
            <h3>Grâce à NaviGator vous pouvez effectuer plusieurs actions</h3>
            <div style="padding-bottom: 40px">
                <p>• Rentrer jusqu'à 10 villes pour votre trajet.</p>
                <p>• Placer vos points directement où vous le souhaitez sur la carte.</p>
                <p>• Avoir une estimation de la distance, temps, essence</p>
            </div>
            <h3>C'est finalement assez simple d'utiliser NaviGator</h3>
            <p style="padding-bottom: 30px">tout ce que vous avez à faire c'est de cliquer sur ce petit bouton en-dessous.</p>
            <button><a href="{{ generateurUrl("map") }}">N'attendez plus !</a></button>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Les créateurs</h2>
        <div class="cards">
            <div class="text-card">
                <h2>Thomas</h2>
                <p>Développeur d'algorithme et d'architecture.</p>
            </div>
            <div class="text-card">
                <h2>Maxence</h2>
                <p>Développeur d'api et de structure.</p>
            </div>
            <div class="text-card">
                <h2>Loris</h2>
                <p>Gestionnaire de la Base de Données et du réactif.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}