{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
<div class="detail">
    <p>
        Utilisateur <?= "$prenomHTML $nomHTML" ?> de login <?= $loginHTML ?>
        {{ utilisateur.login }}
    </p>

    <div id="voitureUser" class="flex flex-col gap-4 mb-10">
        <input type="text" value="{{ voiture.marque }}" placeholder="Marque de votre voiture" name="marque" id="marque">
        <input type="text" value="{{ voiture.modele }}" placeholder="Modèle de votre voiture" name="modele" id="modele">
    </div>

</div>
{% endblock %}