{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
    <div class="mt-5"></div>
    <div>
        Utilisateur <?= "$prenomHTML $nomHTML" ?> de login <?= $loginHTML ?>
        {{ utilisateur.login }}
        <?php if (ConnexionUtilisateurSession::estUtilisateur($login)) { ?>
        <a href="controleurFrontal.php?action=afficherFormulaireMiseAJour&controleur=utilisateur&login=<?= $loginURL ?>">(mettre
            à jour)</a>
        <a href="controleurFrontal.php?action=supprimer&controleur=utilisateur&login=<?= $loginURL ?>">(supprimer)</a>
        <?php } ?>
    </div>
{% endblock %}